<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  
  <!-- Servlets -->
	<servlet>
		<servlet-name>deckNamesServlet</servlet-name>
		<servlet-class>com.tyrcho.magic.matchups.server.service.DeckNamesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>eventServlet</servlet-name>
		<servlet-class>com.tyrcho.magic.matchups.server.service.EventServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resultServlet</servlet-name>
		<servlet-class>com.tyrcho.magic.matchups.server.service.ResultServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.tyrcho.magic.matchups.server.service.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deckNamesServlet</servlet-name>
		<url-pattern>/magicmatchups/service/deckNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>eventServlet</servlet-name>
		<url-pattern>/magicmatchups/service/event</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resultServlet</servlet-name>
		<url-pattern>/magicmatchups/service/result</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/magicmatchups/service/login</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>MagicMatchups.html</welcome-file>
	</welcome-file-list>
</web-app>